body{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 25%;
    margin-top: 14%;
    margin-left: 37%;
    text-align: center;
}

input{
    padding: 10px;
    width: 90%;
    margin: 5px;
    border-style: none;
    background-color: rgb(232,240,254);
    border-radius: 5px;
}

.forgot{
    text-align: left;
    padding-left: 35px;
    width: 80%;
    margin: 5px;
    color: grey;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

.button{
    background-color: cornflowerblue;
    border-radius: 35px;
    font-size: large;
    font-weight: bold;
    color:beige;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}