body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #CDEAC0;
    color: #333;
    text-align: center;
}
header {
text-align: center;
padding: 10px;
background-color: rgb(191, 191, 186);
}

header img {
width: 150px;
height: 150px;
border-radius: 50%;
margin-bottom: 10px;
}
header h1 {
    color: #333;
    font-size: 2.5em;
}
header p {
    font-size: 1.2em;
}

header p a{
    margin: 5px;
    padding: 10px;
}

section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    background: #59cdb2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h2 {
    color: #5D576B;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #5D576B;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.project:hover {
    transform: scale(1.05);
}
.project a {
    margin-top: 10px;
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
}

select{
    color: ivory;
    font-weight: bold;
    background-color: #5fbc9c;
    padding: 10px;
    border-radius: 15px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background:#a6dd8d;
}
